#registration-form.engage-form {
  width: 90%;
  margin: 0 auto;
  background: #f3f3f3;
  background: rgba(0,0,0,0.05);
  padding: 2%;
}

#registration-form .update-button {
  display: block;
  width: 100%;
  text-align: right;
  border: 0;
  background: none;
  color: #43a6e1;
  font-style: italic;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  padding: 0 10px 6px 0;
}

#registration-form .ctools-collapsible-content {
  background: grey;
  background: rgba(0,0,0,0.1);
  padding: 0 0 0 10px;
}

#registration-form .tabledrag-hide,
#registration-form .ctools-toggle {
  display: none;
}

#registration-form .update-button:hover {
  text-decoration: underline;
}

#registration-form .ctools-collapsible-handle {
  margin: 0;
  color: #43a6e1;
  cursor: pointer;
  float: right;
  margin-top: -30px;
}

#registration-form .form-item-other-mp-select,
#registration-form .form-item-other-prov-select,
#registration-form .form-item-other-mun-select {
#  margin-top: 0.3em;
}

#registration-form .field-name-field-engage-to-field .form-item,
#registration-form .field-name-field-engage-cc-field .form-item,
#registration-form .field-name-field-engage-bcc-field .form-item {
  margin: 0 0 14px;
}

#registration-form .field-name-field-engage-to-field .field-multiple-table thead,
#registration-form .field-name-field-engage-cc-field .field-multiple-table thead,
#registration-form .field-name-field-engage-bcc-field .field-multiple-table thead {
  float: left;
}

#registration-form .field-name-field-engage-to-field .field-multiple-table tbody,
#registration-form .field-name-field-engage-cc-field .field-multiple-table tbody,
#registration-form .field-name-field-engage-bcc-field .field-multiple-table tbody {
  display: inline;
}

#registration-form .field-name-field-engage-bcc-field {
  margin-bottom: 14px;
}

#registration-form .email {
width: 80%;
}

#registration-form td .email {
width: 100%;
}

#registration-form .email,
#registration-form .form-item-other-mp-select,
#registration-form .form-item-other-prov-select,
#registration-form .form-item-other-mun-select,
#registration-form .other-link {
display: inline-block;
}

#registration-form th.field-label,
#registration-form div.field-label {
  width: 74px;
  padding: 2px 0 0;
  float: left;
}

.node-type-engage-campaign .field-name-field-engage-participant-goal {
  display: none;
}

#registration-form .field-name-field-engage-participant-goal,
.page-node-edit .field-name-field-engage-participant-goal {
  display: block;
}

#registration-form .field-name-field-engage-participant-goal div.field-label {
  width: auto;
  padding: 0;
  float: none;
}

#edit-field-engage-postal-code,
#edit-find-mp {
  display: inline-block;
}

#registration-form .field-name-field-engage-message .form-textarea-wrapper textarea {
  font-family: courier;
}

/*** Hiding things ***/

#registration-form .field-multiple-drag {
  display: none;
}

#registration-form .tabledrag-toggle-weight-wrapper {
  height: 1px;
  opacity: 0;
}

/* Reset some weird styling that some base themes add. */
#registration-form table,
#registration-form tr,
#registration-form td,
#registration-form th,
#registration-form table tr th,
#registration-form thead,
#registration-form tbody,
#registration-form thead tr {
  background-color: transparent;
  border-width: 0px;
  border-color: transparent;
  color: #000; 
}

#registration-form td {
padding: 2px 0;
}
